<div class="d-flex justify-center pb-8 pt-8">
    <img src="/imgs/logo.png" alt="Dima - Seu Controle Financeiro" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Match="NavLinkMatch.All" Href="/">Dashboard</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Href="/lancamentos/historico">Histórico</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Href="/categorias">Categorias</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Href="/premium">Premium</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Href="/logout">Sair</MudNavLink>
</MudNavMenu>
